body {
	background-image: url('../media/unc_back.jpg');
	background-position: center;
	background-repeat: no-repeat;
	height: 100hv;
}

header {
	position:relative;
	height:12em;
	width:100%;
	/* background-color:#333; */
}
header form {
	position:absolute;
	right:1em;
	top:0;
	width:25%;
}
header form * {
  color:#333 !important;
	height:1.5em;
	padding:0 5%;
	margin:0.25em;
	width:90%;
}
header form p {
	color:#eee !important;
}
#submitButton {
	width:100%;
	height:1.5em;
	padding:0;
	top:5.3333em;
	background:none;
	float:right;
}
#submitButton * {
	background-color:#ddd;
	text-decoration:none;
	width:47.5%;
	padding:0;
	margin:0;
	height:100%;
}
#submitButton button {
	position:absolute;
	right:0 !important;
	float:right;
	margin:auto;
}

header div {
	top:8em;
	position:absolute;
	height:4em;
	width:100%;
	/* background-image:url("../media/hero.png"); */
	background-position:center;
	background-size:100%;
}
header div nav {
	top:25%;
	position:absolute;
	width:50%;
	height:2em;
	line-height:2em;
	padding:0 0.5em;
	background-color:#333;
}
header div #r {
	right:0;
	top:1em;
	width:50vw;
	background-color:#333;
	height:2em;
	text-align:center;
}
header div #r input {
	height:1em;
	top:12.5%;
	right:0.5em;
	position:absolute;
	background-color:#eee;
	color:#333;
	width:20vw;
	padding:0.25em;
	border:0;
}
header div #r #sub {
	height:1.5em !important;
}

header div img {
	position:absolute;
	left:50%;
	margin:-1em -3.5em;
	border-radius:100%;
	height:6em;
}

.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9);
	max-width: 1000px;
	margin: auto;
	text-align: center;
	font-family: arial;
	background:rgba(30, 30, 30, 0.7) ;
}
.card input[type=submit] {
	background-color: #000000;
	border: none;
	color: white;
	padding: 16px 32px;
	text-decoration: none;
	margin: 4px 2px;
	cursor: pointer;
}
.card #popUpYes:hover
{
	background-color: white;
	color: black; /* SET COLOR IN BLACK */
}

/* BEGIN LAYOUT/INDEX.CSS */
* {
	margin:0;
	border:0;
	padding:0;
	color:#eee;
	font-family:sans-serif;
}
/* Error code font */
.error {
	color: red;
}

.success {
  color: green;
}

body {
	background-color: #333 !important;
}
body form input{
	color: #333 !important;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #333 !important;
  overflow: hidden !important;
	height: 24pt;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left !important;
	width: 33.33% !important;
  display: block !important;
  color: #f2f2f2 !important;
  text-align: center !important;
  text-decoration: none !important;
  font-size: 22pt !important;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd !important;
  color: black !important;
}
